.admin_buttons {
	position: fixed;
	right: 0px;
	top: 120px;
	font-size: 14px;
	color: #428bca;
	right: 0px;
	top: 120px;
}

.admin_buttons p {
	width: 200px;
	margin-left: 0px;
	text-align: center;
}

.admin_buttons tbody tr:hover>td {
	cursor: pointer;
	color: black;
	background-color: #E8E8E8;
}