
/*course request*/
.modal-title {
	text-align: center;
}

.modal-body {
	width: 100%;
	text-align: center;
}

.modal-footer .btn {
	display: block;
	margin: 0 auto;
}

.modal-content .btn {
	padding-left: 30px;
	padding-right: 30px;
	weight: 100%;
}

h3 {
	text-align: left;
}


.form-control,button[name="courserequest"] {
	width: 220px;
	margin: 0 auto;
	margin-top: 10px
}


.remove_button {
	display: none;
}

.modal-body button[name='yes'] {
	width: 100px;
	float: left;
}

.modal-body button[name='no'] {
	width: 100px;
	float: right;
}

.button_body {
	width: 90%;
	margin: 0 auto;
	height: 70px;
}