.content .text .btn {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-size: 14px;
	color: #428bca;
}
/*course request*/
.modal-title {
	text-align: center;
}
.modal-body {
	width: 100%;
	text-align: center;
}

.modal-footer .btn {
	display: block;
	margin: 0 auto;

}
.modal-content .btn{
	padding-left: 30px;
	padding-right: 30px;
	weight:100%;
}
h3{
	text-align: left;
}
thead {
	background-color: #d9edf7;
}