.news {
	
}

.news img {
	width: 100px;
	height: 100px;
	margin: 20px;
}

.news p {
	width: 500px;
}

.home {
	position: absolute;
	left: 10%;
}

.home_image {
	width: 90%;
	height: 200px;
	margin: 5px;
	border-radius: 100px;
}

.hidehomeinfo {
	font-size: 1em;
	padding: 5px;
}

.showhomeinfo {
	font-size: 1em;
	padding: 5px;
	display: none;
}

.home_info {
	text-align: center;
	line-height: 0.0em;
	color: #428bca;
	position: fixed;
	padding-top: 10px;
	top: 50px;
	bottom: 0px;
	width: 200px;
	right: 0px;
	padding-left: 5px;
}

.home_info img {
	width: 50px;
	height: 50px;
}

.home_info tbody tr:hover>td {
	cursor: pointer;
	color: black;
}

.padding_right{
	padding-right: 20px;
}
.margin_left{
	margin-left: 30px;
}

.all_in_one_line{
	white-space: nowrap;
}

.registration_names{
	width: 87px;
}

.registration_data{
	width: 178px;
}

#signup_button{
	width: 140px;
}

.hidden_error{
	display: none;
}

.visible_error{
	display: inherit;
	color: red;
}
#signup_from label{
	color: red;
	font-size: small;
}
label.valid {
  width: 30px;
  height: 30px;
  background: url('../img/valid.png') center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
   
}

label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 1px;
  display: inline;
}
.question_drop_long{
	width:350px; height: 30px;
}
.question_drop_short{
	width:200px; height: 30px;
}
#for_caret{
margin-left: -12px;
}